.FAQPage {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 70px);
  align-items: center;
}

.container {
  max-width: 1400px;
  width: 100%;
}

.faqBlock {
  padding-block: 102px;
  border-radius: 16px;
  text-align: center;
  font-family: Eczar;
  font-size: 100px;
  font-weight: 700;
  position: relative;
}

.BGImage {
  position: absolute;
  top: 0;
  left: 0;
}