.SingerPage {
  display: flex;
}

.rightContainer {
  overflow: auto;
  padding: 36px;
  position: relative;
}

.rightContainer > img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.songsContainer {
  display: flex;
  position: relative;
}

.songBlock{
  padding-right: 80px;
}

.songBlock .title {
  display: flex;
  padding-block: 44px;
}

.songBlock .lyrics {
  padding-top: 48px;
  text-align: center;
  font-size: 15px;
}

.videoBlock {
  border-radius: 34px;
  background: #F1EFDB;
  padding: 24px;
  color: #000;
  margin-right: 80px;
}

.videoBlock > img {
  border-radius: 24px;
}

.videoBlock .title {
  padding-top: 12px;
}

.videoBlock .title .date {
  padding-bottom: 12px;
  font-size: 13px;
}

.videoBlock .title .text {
  font-size: 20px;
  padding-bottom: 8px;
}

.videoBlock .title .extra {
  text-align: right;
}


.mainBlock .date {
  font-family: Eczar;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
}
.mainBlock .articles {
  display: flex;
}

.articles .item {
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 70px;
}

.articles .item .header {
  font-family: Eczar;
  font-size: 25px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 10px 10px 0 0;
}

.articles .item .title {
  font-size: 30px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 20px;
}

.articles .item .time {
  padding: 8px 24px;
  text-align: right;
  font-weight: 600;
}

.backBar {
  padding-bottom: 32px;
  font-size: 36px;
}

.backBar > span {
  cursor: pointer;
}