.header {
  position: relative;
}
.header > img {
  width: 100%;
  height: auto;
}

.header h1 {
  font-size: 100px;
  font-weight: 700;
  font-family: Eczar;
  margin-bottom: 16px;
}

.title {
  position: absolute;
  bottom: 20%;
  max-width: 620px;
  right: 50%;
  text-align: right;
}

.title .description {
  padding-right: 16px;
  border-right: 2px solid;
}

.container {
  padding: 80px;
  align-items: flex-end;
}

.content .text {
  padding-bottom: 16px;
}

.content .sectionTitle {
  font-size: 30px;
  font-weight: 700;
  font-family: Eczar;
  padding-bottom: 28px;
}

.rowReverse {
  flex-direction: row-reverse;
}