.header {
  padding-top: 160px;
  background: #F1EFDB;
  position: relative;
}

.header .title {
  color: #000;
  font-family: Eczar;
  font-size: 70px;
  font-weight: 600;
  text-align: right;
  padding-right: 30px;
}

.oprations {
  display: flex;
  position: absolute;
  bottom: -56px;
  left: 82px;
}

.oprations .item {
  padding: 20px 30px;
  border-radius: 50px;
  background: #F57E03;
  margin-right: 28px;
  display: flex;
  align-items: center;
}

.pointsItem {
  font-family: Eczar;
  font-weight: 600;
  font-size: 24px;
}

.pointsItem .points {
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointsItem .points .large {
  font-size: 40px;
}

.pointsItem .points .small{
  font-size: 13px;
}

.earnItem {
  cursor: pointer;
}

.earnItem .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.container {
  padding: 90px;
}

.container .itemsBox {
  display: flex;
  align-items: center;
}

.container .itemsBox:not(:last-child) {
  margin-bottom: 52px;
}

.container .itemsBox .title {
  width: 168px;
  font-family: Eczar;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-right: 56px;
  flex-shrink: 0;
  line-height: 1.5;
}

.container .itemsBox .listBox {
  display: flex;
  overflow: auto;
  padding-block: 40px;
  border-radius: 18px;
  border: 2px solid;
}

.container .itemsBox .listBox::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
  padding: 16px;
}

.container .itemsBox .listBox::-webkit-scrollbar-thumb {
  background-color: #B6B5B5;
  height: 4px;
  border-radius: 8px;
}

.priceItem {
  margin-inline: 66px;
}

.priceItem .name {
  padding-top: 16px;
  text-align: center;
}

.priceItem .price {
  display: flex;
  font-family: Eczar;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.priceItem .price img {
  margin-right: 8px;
}